body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  margin: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.tanuki-left-ear:hover, .tanuki-right-ear:hover, .tanuki-nose:hover, .tanuki-left-eye:hover, .tanuki-right-eye:hover, .tanuki-left-cheek:hover, .tanuki-right-cheek:hover {
  fill: #282c34;
  transition: all 0.9s;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  display: flex;
  justify-content: center;
}

.loading {
  color: white;
}
