.Card {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 8px #ccc;
  background: white;
  padding: 6px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%; 
  width: 100%; 
}

a {
  font-family: 'Sylfaen';
  font-weight: 600;
  text-decoration: none;
}

.user-avatar {
  width: 96px;
  height: 96px;
  margin: 5px;
}

.user-name {
  margin: 5px; 
}
